/* @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100); */

.nodes {
  display:flex;
  flex-wrap:wrap;
  width:77%;
}

.node-containers {
  padding:25px;
}

#ChangeSchema {
	background: white;
}

/* center change schema btn and text in side panel */
.center {
  text-align: center;
  margin-bottom: 20px;
  /* color: white; */
}

.panelTable {
  margin-left: 10px;
  margin-right: 10px;
}

.panel {
	height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 23%; /* Set the width of the sidebar */
  position: fixed; /*Fixed Sidebar (stay in place on scroll)*/
  z-index: 1; /* Stay on top*/
  top: 0;/* Stay at the top*/
  right: 0;
  /* background-color: #aa4b6b,#6b6b83, #3b8d99; Black */
  background: linear-gradient(to right, #434343, #000000);
  /* background: linear-gradient(to right, #005aa7, #fffde4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+ */
  overflow-x: hidden; /* Disable horizontal scroll */
  /* padding-top: 7px;
  padding-bottom: 7px; */
  opacity:0.8;
  border-left: solid 5px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) */
  box-shadow: -9px 2px 18px -7px rgba(0,0,0,1);
}


#panelHeading {
  border-bottom: solid ;
  padding-bottom: 10px;
  border-bottom-color: white; 
  top: 25px;
  text-align: center;
}

#panelTypeText {
  color: white;
}

#panelFieldText {
  color: white;
}

#panelHelperText {
  color: lightsteelblue;
}

.btn-EditTable {
 justify-content: center
}

h1 {
  color: #27aedb;
  text-align: center;
}

body {
  background-color: #171E25;
	color: white;
	/* background-color: #3e94ec; */
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 16px;
	font-weight: 400;
	width: 100vw;
	height: 100vh;
	/* overflow:hidden; */
  text-rendering: optimizeLegibility;
}

.model-container { 
  text-align: center;
}

.glitch {
  animation: glitch-skew 4s cubic-bezier(.25, .46, .45, .94) 4s infinite;
  font-family: monospace, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transform-origin: center top;
  /* color: gray; */
}

@keyframes glitch {
  0% {
      transform: translate(0);
  }
  20% {
      transform: translate(-8px, 8px);
  }
  40% {
      transform: translate(-8px, -8px);
  }
  60% {
      transform: translate(8px, 8px);
  }
  80% {
      transform: translate(8px, -8px);
  }
  100% {
      transform: translate(0);
  }
}

@keyframes glitch-skew {
  0% {
      transform: skew(0deg, 0deg);
  }
  48% {
      transform: skew(0deg, 0deg);
      filter: blur(0);
  }
  50% {
      transform: skew(-20deg, 0deg);
      filter: blur(4px);
  }
  52% {
      transform: skew(20deg, 0deg);
  }
  54% {
      transform: skew(0deg, 0deg);
      filter: blur(0);
  }
  100% {
      transform: skew(0deg, 0deg);
  }
}

@keyframes glitch-line {
  0% {
      top: 0;
  }
  100% {
      top: 100%;
  }


}

.display {
  height: 30%;
  width: 80%;
  margin: auto;
  text-align: center;
  overflow: scroll;
  object-fit: scale-down;
}